$sizing100 = 20px
$sizing200 = 35px

$charles-blue     = #091f2f
$freedom-red      = #fb4d42
$optimistic-blue  = #288be4
$white            = #ffffff
$grey-000         = #f3f3f3

// Families
$serif = "Lora", Georgia, serif
$sans = "Montserrat", Arial, sans-serif

// Sizes
$font300 = 1rem // ~16px
$font400 = 1.125rem // ~18px
$font500 = 1.25rem // ~20px
$font600 = 1.75rem // ~20px
$font700 = 2.125rem // ~20px
$font800 = 2.8125rem // ~45px

*
  box-sizing: border-box

html
  height: 100%
  font-size: responsize 14px 18px

body
  height: 100%
  margin: 0
  padding: 0
  background-color: #fff
  font-family: $serif
  height: 1920px
  color: $charles-blue

.container
  height: 100%
  width: 100%;
  display: flex
  flex-direction: column

.footer
  background-color: #ffffff
  padding: 35px 50px
  display: flex
  align-items: center

.blocks
  display: flex
  flex-direction: column
  min-height: 500px

.upcoming-events
  padding: 50px
  background: $grey-000
  flex: 1

.section-header
  border-bottom: 8px solid $charles-blue
  font-family: $sans
  font-size: $font800
  text-transform: uppercase
  margin: 0
  line-height: 1
  padding-bottom: 0.125rem

.cityscore
  display: flex
  align-items: center
  margin-left: auto

  .score
    font-family: "Fenway"
    font-size: $font800
    color: rgb(70, 105, 93)
    margin-left: 35px
    padding-top: 3px

    &.low
      color: #FEF163

.cs-logo
  display: flex
  align-items: center
  position: relative

  img
    width: 300px

  span
    position: absolute
    top: 100%
    left: 5px
    padding-top: 5px
    font-style: italic
    font-size: 0.825rem

.header
  display: flex
  align-items: center
  padding: 0 0 0 50px
  background-color: $grey-000

  &-title
    font-size: $font800
    font-family: $sans
    font-weight: 700
    text-transform: uppercase

    span
      border-bottom: 8px solid $freedom-red
      display: inline-block

.b-logo
  margin-left: auto
  display: block
  background: $charles-blue
  padding: 2em 2.5em

  img
    width: 40px

.seal
  display: flex
  align-items: center

  img
    width: 60px

  .mayor
    font-size: $font500
    font-style: italic
    display: block
    margin-left: $font400
    padding-left: $font400
    padding-top: $font300
    padding-bottom: $font300
    border-left: 2px solid $freedom-red

.map
  display: flex
  flex: 0.25
  background: #ffffff
  padding: 50px

.image-map
  height: 100%
  width: 100%

  img
    width: 100%

.event
  background: #fff
  margin-top: 25px
  padding: 35px
  display: flex

  &-timedate
    margin-left: auto
    text-align: right

  &-title
    font-family: $sans
    font-size: $font500
    text-transform: uppercase
    padding-right: 50px
    color: $optimistic-blue
    margin-bottom: 10px

  &-location
    font-style: italic
    font-size: $font400

  &-date
    text-transform: uppercase
    font-family: $sans
    font-size: $font500
    margin-bottom: 10px

  &-time
    word-break: keep-all
    white-space: nowrap
    font-style: italic
