<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="container">
      <div class="header">
        <img src="/images/logo.svg" alt="City of Boston" />
        <span class="b-logo">
          <img src="/images/b-logo-light.svg" alt="B" />
        </span>
      </div>
      <div class="map">
        {{ content }}
      </div>
      <div class="events">
        Events
      </div>
      <div class="cityscore"></div>
      <div class="footer">
        Martin J Walsh
      </div>
      <script>
        $(document).ready(function () {
          $.getJSON('https://cob-cityscore.herokuapp.com/totals/latest', function(data) {
            $('.cityscore').html(data.day);
          })
        });
      </script>
    </div>
  </body>
</html>
