<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="container">
      <div class="header">
        <img src="/images/logo.svg" alt="City of Boston" />
        <span class="b-logo">
          <img src="/images/b-logo-light.svg" alt="B" />
        </span>
      </div>
      <div class="map">
        {{ content }}
      </div>
      <div class="blocks">
        <div class="upcoming-events">
          <h2 class="section-header">Upcoming Events</h2>
        </div>
      </div>
      <div class="footer">
        <div class="seal">
          <img src="/images/seal.svg" alt="Boston Seal" />
          <div class="mayor">Mayor Martin J Walsh</div>
        </div>
        <div class="cityscore">
          <div class="cs-logo">
            <img src="/images/cs-logo.png" alt="CityScore" />
          </div>
          <div class="score"></div>
        </div>
      </div>
      <script>
        Turbolinks.start()

        var init = function () {
          $.getJSON('https://cob-cityscore.herokuapp.com/totals/latest', function(data) {
            var score = data.day.toFixed(2);
            var scoreClass = score >= 1 ? 'high' : 'low';

            $('.score').html(score).addClass(scoreClass);
          });

          var REFRESH_INTERVAL_IN_MILLIS = 10000;

          setTimeout(function() {
            Turbolinks.visit(location.toString(), { action: "replace" });
          }, REFRESH_INTERVAL_IN_MILLIS);
        }

        document.addEventListener("turbolinks:load", init);
      </script>
    </div>
  </body>
</html>
