<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="container">
      <div class="header">
        <img src="/images/logo.svg" alt="City of Boston" />
        <span class="b-logo">
          <img src="/images/b-logo-light.svg" alt="B" />
        </span>
      </div>
      <div class="map">
        {{ content }}
      </div>
      <div class="blocks">
        <div class="upcoming-events">
          <h2 class="section-header">Upcoming Events</h2>
          <div id="events" class="events"></div>
        </div>
      </div>
      <div class="footer">
        <div class="seal">
          <img src="/images/seal.svg" alt="Boston Seal" />
          <div class="mayor">Mayor Martin J Walsh</div>
        </div>
        <div class="cityscore">
          <div class="cs-logo">
            <img src="/images/cs-logo.png" alt="CityScore" />
          </div>
          <div class="score"></div>
        </div>
      </div>
      <script>
        Turbolinks.start()

        var renderEvents = function (data) {
          for (var i = 0; i < 4; i++) {
            var address = data.events[i].event.field_address.replace(/(?:\r\n|\r|\n)/g, '<br />');
            $('#events').append('<div class="event"><div class="event-details"><div class="event-title">' + data.events[i].event.title + '</div><div class="event-location">' + address + '</div></div><div class="event-timedate"><div class="event-date">' + data.events[i].event.field_event_dates + '</div><div class="event-time">' + data.events[i].event.field_event_dates_1 + '</div></div></div>');
          }
        }

        var fetchEvents = function () {
          $.getJSON('https://hub.dd:8443/api/v1/upcoming-events', renderEvents);
        }

        var init = function () {
          $.getJSON('https://cob-cityscore.herokuapp.com/totals/latest', function(data) {
            var score = data.day.toFixed(2);
            var scoreClass = score >= 1 ? 'high' : 'low';

            $('.score').html(score).addClass(scoreClass);
          });

          var REFRESH_INTERVAL_IN_MILLIS = 1000000;

          setTimeout(function() {
            Turbolinks.visit(location.toString(), { action: "replace" });
          }, REFRESH_INTERVAL_IN_MILLIS);

          fetchEvents();
        }

        document.addEventListener("turbolinks:load", init);
      </script>
    </div>
  </body>
</html>
